@charset "UTF-8";
h1{
color: #0094C6;
background-color: aliceblue; 
text-align: center;

}
body{
background-color: #8eb2cf74;


}


p{
text-align: justify;
font-size: 18px;

}



h2{
background-color: #cfc2ca;


}



.familia
{
color: #253C78;

}