@charset "UTF-8";
 * {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
 }
body {
    background-image: linear-gradient(90deg,#FFBC42, #F5D547 ); }
main {
background-color: rgba(165, 218, 165, 0.583);
border-radius: 10px;
box-shadow: 6px 5px 4px 5px #0000007c ;
width: 500px;
padding: 25px;
margin: auto;
}
h1{
color:#12355B ;
text-align: center;
text-shadow: 1px 1px 2px #12355b9c ;
}
h2{
color: #6290C8;
text-align: center;
text-shadow: 1px 1px 2px #6290c89e;


}


 p {
text-align: justify;
color: #373D20;

 }